modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["elevenlabs:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
PADDLE_CLIENT_TOKEN = "live_e4f803009f3f70ed2494b2b01a0"
PADDLE_ENVIRONMENT = "production"
PADDLE_PRICE_FREE = "pri_01kmc297md22sfs6jrz6h2pf8d"
PADDLE_PRICE_PREMIUM = "pri_01kmc2dafpfp9n1xj2scp9ndmr"
PADDLE_PRICE_PROFESSIONAL = "pri_01kmc2h86tpe7wyz11rxakhv78"
CORE_APP_URL = "/panel/"
R2_BUCKET_NAME = "daytabs-videos"
R2_ACCOUNT_ID = "6e1b301c65f8471ab7a3ead137037505"
R2_ACCESS_KEY_ID = "e8a18bfb6b8947b10648eb3f85fae7e5"
R2_SECRET_ACCESS_KEY = "f8f27ff5124e9f8ec017850a0265b4dd12d7b87ce09a357e4b304b2039732c19"
VITE_PADDLE_PRICE_PREMIUM = "pri_01kmc2dafpfp9n1xj2scp9ndmr"
VITE_PADDLE_PRICE_PRO = "pri_01kmc2h86tpe7wyz11rxakhv78"
PADDLE_PRICE_PRO = "pri_01kmc2h86tpe7wyz11rxakhv78"
